{% extends 'base.html' %}
{% block title %}New Department{% endblock title %}

{% block content %}
{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <div class="cell">
            <h2>Register New Department</h2>
        </div>
        <div class="cell">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="grid-container">
                    <div class="grid-x grid-padding-x callout">
                        <div class="medium-2 cell"></div>
                        <div class="medium-4 cell">
                            <h5>Employee in charge:</h5>
                        </div>
                        <div class="medium-4 cell"></div>
                        <div class="medium-2 cell"></div>
                        <div class="medium-2 cell"></div>
                        <div class="medium-4 cell">
                            <label>
                                First Name:
                                {{form.first_name}}
                            </label>
                        </div>
                        <div class="medium-4 cell">
                            <label>
                                Last Name:
                                {{form.last_name}}
                            </label>
                        </div>
                        <div class="medium-2 cell"></div>
                        <div class="medium-2 cell"></div>
                        <div class="medium-4 cell">
                            <h5>Department Data:</h5>
                        </div>
                        <div class="medium-4 cell"></div>
                        <div class="medium-2 cell"></div>
                        <div class="medium-2 cell"></div>
                        <div class="medium-4 cell">
                            <label>
                                Department Name:
                                {{form.department}}
                            </label>
                        </div>
                        <div class="medium-4 cell">
                            <label>
                                Short Name:
                                {{form.short_name}}
                            </label>
                        </div>
                        <div class="medium-2 cell"></div>
                        <div class="medium-4 cell"></div>
                        <div class="medium-4 cell">
                            <button type="submit" class="success button expanded">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock content %}