{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vistas basadas en Clases</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <hr>
        <h2 class="text-center">Vistas basadas en clases - Create View</h2>
        <hr>
        <div class="jumbotron">
            <h1 class="display-4">Redirigiendo a otra URL</h1>
            <p class="lead">El empleado se guardo correctamente!</p>
        </div>
       
    </div>

    <script src="{% static 'bootstrap/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>